<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Registration</title>
</head>
<body>
    <center>
        <form action="#" method ="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="shop_name" placeholder="Shop Name" required><br><br>
            <input type="text" name="shop_owner_name" placeholder="Shop's Owner Name" required><br><br>
            <input type="text" name="license_number" placeholder="Shop Licence Number" required><br><br>
            <input type="text" name="shop_phone" placeholder="Shop Phone Number" required><br><br>
            <input type="email" name="shop_email" placeholder="Shop E-Mail" required><br><br>
            <input type="text" name="shop_gst" placeholder="Shop GST Number" required><br><br>
            Shop's Licence Document
            <input type="file" name="shop_license_pdf" placeholder="Shop Licence Document" required><br><br>
            Shop Owner ID Proof
            <input type="file" name="shop_owner_id_proof" placeholder="Shop Owner ID Proof" required><br><br>
            Shop Owner Photo
            <input type="file" name="shop_owner_photo" placeholder="Shop Owner Photo" required><br><br>
            <input type="submit" value="Submit" name="submit"><br>
        </form>
    </center>
</body>
</html>
