{% extends 'base_docs/base.html' %}
{% load static %}
{% block title%} {{shop.shop_name}} {% endblock title%}
{% block content %}
    <center>
        <h1>Shop Admin</h1>
        <div><h2>Shop Name: <i>{{ shop.shop_name }}</i></h2></div>
        <div> <img src="{% static shop.shop_owner_photo %}" alt="" height="100"> <h2>Shop's Owner Name': <i>{{ shop.shop_owner_name }}</i></h2></div>
        <div><h2>Shop's Address': <i>{{ shop.shop_address }}</i></h2></div>
        <div><h2>Shop License Number: <i>{{ shop.license_number }}</i></h2></div>
        <div><h2>Shop Phone: <i>{{ shop.shope_phone }}</i></h2></div>
        <div><h2>Shop Email: <i>{{ shop.shop_email }}</i></h2></div>
        <div><h2>Shop GST: <i>{{ shop.shop_gst }}</i></h2></div>
        <div><h2>Application Date: <i>{{ shop.application_date }}</i></h2></div>
        <div><h2>License : <i><a href=" {% static shop.shop_license_pdf  %}">License</a></i></h2></div>
        <div><h2>Owner ID Proof : <i><a href=" {% static shop.shop_owner_id_proof  %}">ID Proof</a></i></h2></div>
    </center>
{% endblock content %}