{% extends 'base_docs/base.html' %}

{% block title%}Shop Admin{% endblock title%}

{% block content %}
	<div>
		<center class ="row">
			<div class="col-lg-4"></div>
			<div class = "list-group">
				<a class="list-group-item list-group-item-info" href="{% url 'shopadmin:shopApplications' %}">Shop Applications</a>
				<a class="list-group-item list-group-item-info" href="{% url 'shopadmin:shopRegistered' %}">Registered Shops</a>
				<a class="list-group-item list-group-item-info" href="{% url 'shopadmin:allproducts' %}">Products</a>
				<a class="list-group-item list-group-item-info" href="{% url 'shopadmin:categories' %}">Category Lists</a>
			</div>
			</div>
		</center>
	</div>
{% endblock content %}
